@font-face {
    font-family: "Gilroy Bold";
    src: url("./font-families/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("./font-families/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Playfair Display Regular";
    src: url("./font-families/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url("./font-families/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "Playfair Display Bold-Italic";
    src: url("./font-families/PlayfairDisplay-BoldItalic.ttf");
}