/*navbar*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: ease-out 0.2s;
  color: var(--white);
  background: black;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  height: 80px;
}

header nav i {
  padding: 24px;
  border-radius: 50%;
  transition: 0.2s ease-out;
  cursor: pointer;
  position: relative;
}

header nav i.menu {
  background-image: url(../assets/Icons/Burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
header nav i.menu:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
header nav i.menu:hover::after {
  content: "Menu";
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 24px;
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 48px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

header nav i.shop {
  background-image: url(../assets/Icons/Bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
header nav i.shop:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
header nav i.shop:hover::after {
  content: "Carrinho";
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 24px;
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 48px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

header h1,
header h1 em {
  font-family: var(--primary-font);
  cursor: pointer;
}

/* Hero-Section */

section.hero-section {
  padding: 128px 48px 48px;
  background-image: url(../assets/Images/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

section.hero-section .page-indicator {
  display: flex;
  gap: 8px;
  align-items: center;
}

section.hero-section .page-indicator .bar {
  width: 48px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

section.hero-section .page-indicator .active {
  background-color: var(--white);
}

section.hero-section h2 {
  margin: 12px 0 48px;
  width: 100%;
  max-width: 700px;
}

section.hero-section .pagination {
  display: flex;
  align-items: center;
  gap: 24px;
}

section.hero-section .pagination i.control {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: 0.2s ease-out;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--white);
  margin-top: 136px;
}

section.hero-section .pagination .control:first-child {
  background-image: url(../assets/Icons/Arrow-Left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 7px;
  background-position-y: 8px;
}
section.hero-section .pagination i.control:first-child:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-position-x: 2px;
}

section.hero-section .pagination .control:last-child {
  background-image: url(../assets/Icons/Arrow-Right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 8px;
  background-position-y: 6px;
}
section.hero-section .pagination i.control:last-child:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-position-x: 13px;
}

/*
.hero {
  background: url(./assets/Images/Hero.jpg);
  height: 900px;
  padding-top: 9.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  color: var(--white);
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.hero-container h1 {
  color: var(--white);
  max-width: 600px;
  padding-bottom: 1rem;
}

.hero-container .paginator {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.hero-container .page-indicator {
  width: 32px;
  height: 4px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 10px;
}

.hero-container .page-indicator:nth-child(1) {
  opacity: 1;
}

.navigator {
  display: flex;
  align-items: center;
  margin-top: 120px;
  gap: 20px;
}

.navigator .navigator-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid white;
  border-radius: 100%;
  transition: background ease-out 0.1s;
  cursor: pointer;
}

.navigator .navigator-button:hover {
  background: rgba(255, 255, 255, 0.2);
}


.section {
  margin: 144px 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.image-text-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 90px;
}

.reverse {
  flex-direction: row-reverse;
}

.image-text-section img {
  width: 80%;
}

.image-text-section .section-text-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.coffe-grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.coffe-grid-title {
  color: var(--hover);
}

.coffe-card {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
  width: 100%;
  max-width: 459px;
  background: #f7f1e6;
}

.coffe-card .coffe-card-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
}

.coffe-card .coffe-price-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

.coffe-card .coffe-price-container .coffe-promotional {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.coffe-card .coffe-price-container .coffe-price {
  font-size: 24px;
  line-height: 28px;
  color: var(--grey);
}

.coffe-card .coffe-card-button {
  background-color: var(--black);
  height: 76px;
  border-radius: 4px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  line-height: 28px;
  transition: background ease-out 0.2s;
  cursor: pointer;
}

.coffe-card .coffe-card-button:hover {
  background: var(--background);
  color: var(--black);
}

.advantages {
  display: flex;
  gap: 32px;
}

.advantage {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.advantage span {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.banners {
  display: flex;
  gap: 32px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
  padding: 40px;
  gap: 24px;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.banner:hover {
  background-position-y: -8px;
  background-repeat: no-repeat;
}

.banner p {
  max-width: 450px;
}

.banner1 {
  width: 100%;
  height: 560px;
  max-width: 704px;
  background-image: url("./assets/Images/Catalog.jpg");
  background-position: cover;
}

.banner2 {
  width: 100%;
  height: 560px;
  max-width: 704px;
  background-image: url("./assets/Images/Acessories.jpg");
  background-position: cover;
} */
